<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<br>
<br>
<div id="mycontainer" *ngIf="isAffiche()" class="row section-bg"
    style="width: 70%; text-align: center; margin-left: 200px;">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title" style="text-align: center;">Employees</h1>
                <button type="button" class="btn btn-success" (click)="onOpenModal(null,'add')">Add User</button>


                <div class="table-responsive">
                    <table class="table align-middle text-nowrap">
                        <thead>
                            <tr>
                                <th class="text-dark font-medium fs-4">ID </th>
                                <th class="text-dark font-medium fs-4">FirstName</th>
                                <th class="text-dark font-medium fs-4">LastName</th>
                                <th class="text-dark font-medium fs-4">Email</th>
                                <th class="text-dark font-medium fs-4">Actions</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let user of users">
                            <tr>
                                <td>


                                    <div class="text-align:center">
                                        <h5 class="mb-0 font-medium"> User-{{user.id}}</h5>
                                        <span class="mb-0 font-medium"> {{user.id}}</span>
                                    </div>

                                </td>
                                <td class="mb-0 font-medium">{{user?.firstName}}</td>

                                <td class="mb-0 font-medium">{{user?.lastName}}</td>



                                <td class="mb-0 font-medium">{{user?.username}}</td>
                                <td>
                                    <!-- Call to action buttons -->
                                    <ul class="list-inline m-0">
                                        <li class="list-inline-item">
                                            <button class="btn btn-primary btn-sm rounded-0" type="button"
                                                data-toggle="tooltip" data-placement="top" title="Add role"
                                                (click)="onOpenModal(user,'addRole')"><i class="fa fa-table"
                                                    aria-hidden="true"></i></button>

                                        </li>
                                        <li class="list-inline-item">
                                            <button class="btn btn-success btn-sm rounded-0" type="button"
                                                data-toggle="tooltip" data-placement="top" title="Edit User"
                                                (click)="onOpenModal(user,'edit')"><i class="fa fa-edit"></i></button>
                                        </li>
                                        <li class="list-inline-item">
                                            <button class="btn btn-danger btn-sm rounded-0" type="button"
                                                data-toggle="tooltip" data-placement="top" title="Delete User"
                                                (click)="onOpenModal(user,'delete')"><i
                                                    class="fa fa-trash"></i></button>
                                        </li>
                                    </ul>
                                    <script>
                                        $(function () {
                                            $('[data-toggle="tooltip"]').tooltip();
                                        });
                                    </script>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Delete Modal -->

                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!isAffiche()">
    <h1>Error: Unauthorized</h1>

</div>

<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModelLabel">Delete user {{deleteUser?.username}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete user {{deleteUser?.username}} </p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button (click)="OnDeleteUser(deleteUser)" class="btn btn-danger" data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Add role Modal -->
<div class="modal fade" id="addRoleModal" tabindex="-1" role="dialog" aria-labelledby="addRoleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEmployeeModalLabel">Add Role to {{addUserRole?.firstName}}
                    {{addUserRole?.lastName}} </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #addFormRole="ngForm" (ngSubmit)="OnAddRole(addFormRole)">
                    <h3 class="card-title" style="text-align: center;">Role name</h3>
                    <select class="form-select" [ngModel] name="role" aria-label="Default select example">
                        <option *ngFor="let role of roles" value="{{role.name}}">{{role.name}}</option>
                    </select>

                    <div class="modal-footer">
                        <button type="button" id="add-role-form" class="btn btn-secondary"
                            data-dismiss="modal">Close</button>
                        <button [disabled]="addFormRole.invalid" type="submit" class="btn btn-primary">Save
                            changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





<!-- Add user Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEmployeeModalLabel">Add User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="OnAddUser(addForm)">
                    <div class="form-group">
                        <label for="name">firstName</label>
                        <input type="text" ngModel name="firstName" class="form-control" id="firstName"
                            placeholder="first Name" required>
                    </div>
                    <div class="form-group">
                        <label for="lastName">lastName</label>
                        <input type="text" ngModel name="lastName" class="form-control" id="lastName"
                            placeholder="last Name" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="email" ngModel name="username" class="form-control" id="username"
                            placeholder="username" required>
                    </div>

                    <div class="form-group">
                        <label for="password">password</label>
                        <input type="password" ngModel name="password" class="form-control" id="password"
                            placeholder="password" required>
                    </div>
                    <div class="form-group">
                        <label for="retypepassword">retype password</label>
                        <input type="password" ngModel name="retypepassword" class="form-control" id="retypepassword"
                            placeholder="retype password" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="add-user-form" class="btn btn-secondary"
                            data-dismiss="modal">Close</button>
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Edit Modal -->
<div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog" aria-labelledby="userEditModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateEmployeeModalLabel">Edit Employee </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #updateForm="ngForm">
                    <div class="form-group">
                        <label for="name">First Name</label>
                        <input type="text" ngModel="{{editUser?.firstName}}" name="firstName" class="form-control"
                            id="firstNameEdit" placeholder="first Name" required>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" ngModel="{{editUser?.lastName}}" name="lastName" class="form-control"
                            id="lastNameEdit" placeholder="last Name" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="email" ngModel="{{editUser?.username}}" name="username" class="form-control"
                            id="usernameEdit" placeholder="username" required>
                    </div>

                    <!-- Edit Modal -->
                    <div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog"
                        aria-labelledby="userEditModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="updateEmployeeModalLabel">Edit Employee </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form #updateForm="ngForm">
                                        <div class="form-group">
                                            <label for="name">First Name</label>
                                            <input type="text" ngModel="{{editUser?.firstName}}" name="firstName"
                                                class="form-control" id="firstNameEdit" placeholder="first Name"
                                                required>
                                        </div>
                                        <div class="form-group">
                                            <label for="lastName">Last Name</label>
                                            <input type="text" ngModel="{{editUser?.lastName}}" name="lastName"
                                                class="form-control" id="lastNameEdit" placeholder="last Name" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="username">Username</label>
                                            <input type="email" ngModel="{{editUser?.username}}" name="username"
                                                class="form-control" id="usernameEdit" placeholder="username" required>
                                        </div>


                                        <div class="modal-footer">
                                            <button type="button" id="update-employee-form" data-dismiss="modal"
                                                class="btn btn-secondary">Close</button>
                                            <button data-dismiss="modal" class="btn btn-primary"
                                                (click)="OnUpdateUser(updateForm.value)">Save changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>